.home-container {
    background: url('../media/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

.container {
  /*background: #282c34;*/
  max-width: 800px;
  border-radius: 10px;
  /*box-shadow: 0 0 20px black;*/
}

.logo-container {
  border: 2px solid white; /* کادر سفید */
  border-radius: 5px; /* گوشه‌های گرد */
  padding: 5px; /* فاصله داخلی */
  display: inline-block; /* برای قرار دادن در کنار هم */
}

.video-header {
  margin: auto;
  text-align: center;
}

.video-box {
  margin: auto;
  max-width: 800px;
}

.card-hover {
  transition: transform 0.6s;
}

.card-hover:hover {
  transform: translateY(-10px);
}

.pelak-card {
  border: 2px solid #ccc; /* کادر برای کارت‌ها */
  border-radius: 4px; /* گوشه‌های گرد */
  overflow: hidden; /* برای جلوگیری از خروج تصویر از کادر */
  height: 280px; /* ارتفاع ثابت برای کارت‌ها */
  justify-self: center;
  width: 80%;
  box-shadow: 0 0 18px #ff0000;
}

.oval-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.oval-image {
  border-radius: 50%; /* بیضی کردن تصویر */
  height: 210px; /* ارتفاع تصویر */
  object-fit: cover; /* برای حفظ نسبت تصویر */
}

.bale-logo:hover {
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .pelak-card {
    width: 100%;
  }
}