.container {
    padding: 50px;
}

.pelak-info {
    background: url("../media/bg-pelak.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

.pelak-header {
    display: block;
    align-items: center;
    padding: 10px;
}

.pelak-top {
    text-align: center;
}

.old-fields {
    border: black solid 1px;
    border-radius: 10px;
    padding: 20px;
}

.death, .biurth {
    color: white;
    opacity: 85%;
}

.biurth {
    box-shadow: 0 0 8px green;
}

.death {
    box-shadow: 0 0 8px red;
}

.personal-info p {
    display: inline-block;
    border: 1px solid #ccc; /* اضافه کردن حاشیه */
    padding: 10px; /* فضای داخلی */
    border-radius: 5px; /* گرد کردن گوشه‌ها */
    margin: 10px; /* فاصله بین عناصر */
    background-color: white; /* رنگ پس‌زمینه */
    box-shadow: 0 0 8px rgb(255, 0, 0); /* سایه */
}

.martyr-details-container {
    /*padding: 20px;*/
}

.main-image {
    width: 200px;
    height: 240px;
    object-fit: cover;
    border-radius: 10px; /* گوشه‌های کمتر گرد مشابه کارت‌ها */
    border: 2px solid #444; /* حاشیه برای هماهنگی با قالب */
    box-shadow: 0 0 120px red;
}

.personal-info {
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
    color: #444;
}

.will-section, .memories-section {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* سایه برای برجسته کردن */
    margin-bottom: 20px;
    max-height: 400px; /* ارتفاع حداکثر */
    overflow-y: auto; /* افزودن اسکرول در صورت بیشتر بودن محتوا */
    background: #f9f9f9;
    opacity: 90%;
}

.photo-gallery {
    background: white;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    border-radius: 8px;
}

.photo-scroller {
    display: flex;
    gap: 10px;
}

.gallery-photo {
    min-width: 120px;
    min-height: 120px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px; /* گوشه‌های گرد مشابه عکس‌های کارت */
    transition: transform 0.2s;
    border: 2px solid #000000; /* حاشیه هماهنگ */
}

.gallery-photo:hover {
    transform: scale(1.05);
}

.full-screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* پس‌زمینه تیره برای تمام صفحه */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.full-screen-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    border: 2px solid #555; /* حاشیه برای ظاهر هماهنگ */
}

.fields {
    margin-top: 50px;
}

.nav-link {
    --bs-nav-link-hover-color: #ffbdbd;
    --bs-nav-link-color: white;
}